<?xml version="1.0" encoding="utf-8"?>
<manifest package="ca.six.mall"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:name=".core.BaseApp"
        android:allowBackup="false" tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--<activity android:name=".biz.splash.SplashActivity">-->
        <activity android:name=".devonly.epoxy.EpoxyDemo01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".biz.error.ErrorActivity"/>

        <activity android:name=".biz.login.LoginActivity"/>

        <activity android:name=".biz.home.HomeActivity"/>
        <activity android:name=".biz.my_order.MyOrderActivity"/>

    </application>

</manifest>